In [1]:
import os
os.getcwd()
import pickle

In [2]:
os.chdir("C:\\Users\\Ani\\Desktop\\Project")
os.getcwd()

'C:\\Users\\Ani\\Desktop\\Project'

In [3]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
dataset=pd.read_csv('pima-indians-diabetes.csv')

In [4]:
dataset.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [5]:
X=dataset.loc[:, ['preg', 'plas', 'pres','skin','test','mass','pedi','age']]
Y=dataset.loc[:, ['class']]
X.head()

   preg  plas  pres  skin  test  mass   pedi  age
0     6   148    72    35     0  33.6  0.627   50
1     1    85    66    29     0  26.6  0.351   31
2     8   183    64     0     0  23.3  0.672   32
3     1    89    66    23    94  28.1  0.167   21
4     0   137    40    35   168  43.1  2.288   33

In [6]:
Y.head()

   class
0      1
1      0
2      1
3      0
4      1

In [7]:
X=dataset.iloc[:, :8]
Y=dataset.iloc[:, -1]

In [8]:
X.head()

   preg  plas  pres  skin  test  mass   pedi  age
0     6   148    72    35     0  33.6  0.627   50
1     1    85    66    29     0  26.6  0.351   31
2     8   183    64     0     0  23.3  0.672   32
3     1    89    66    23    94  28.1  0.167   21
4     0   137    40    35   168  43.1  2.288   33

In [9]:
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: class, dtype: int64

In [10]:
from sklearn import model_selection, neighbors
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.25, random_state=37)

In [11]:
X_train.head()

     preg  plas  pres  skin  test  mass   pedi  age
726     1   116    78    29   180  36.1  0.496   25
447     0    95    80    45    92  36.5  0.330   26
205     5   111    72    28     0  23.9  0.407   27
188     8   109    76    39   114  27.9  0.640   31
259    11   155    76    28   150  33.3  1.353   51

In [12]:
X_test.head()

     preg  plas  pres  skin  test  mass   pedi  age
369     1   133   102    28   140  32.8  0.234   45
491     2    89    90    30     0  33.5  0.292   42
65      5    99    74    27     0  29.0  0.203   32
269     2   146     0     0     0  27.5  0.240   28
432     1    80    74    11    60  30.0  0.527   22

In [13]:
Y_train.head()

726    0
447    0
205    0
188    1
259    1
Name: class, dtype: int64

In [14]:
Y_test.head()

369    1
491    0
65     0
269    1
432    0
Name: class, dtype: int64

In [15]:
from sklearn.model_selection import cross_val_score, cross_val_predict

In [16]:
minmax=preprocessing.MinMaxScaler(feature_range=(0,1))
minmax.fit(X).transform(X)
X_train_std=minmax.fit_transform(X_train)
X_test_std=minmax.transform(X_test)

C:\Machine Learning\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Machine Learning\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [17]:
from sklearn.ensemble import RandomForestClassifier
rmf=RandomForestClassifier(max_depth=3, random_state=1)
rmf_clf=rmf.fit(X_train, Y_train)

C:\Machine Learning\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)